<%= form_tag import_reservations_path, method: :post, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<p>Lien vers les statistiques :</p>
<%= link_to "Statistiques", root_path %>